{% extends 'biipeco/layout.html' %}
{% load static %}
{% block content %}
<section class="air">
    <div class="container">
        <div class="air__wrap">
            <h2 class="air__title title2">Охрана атмосферного воздуха</h2>
            <div class="air__block one">
                <div class="air__block__item">
                    <div class="air__block__top open">
                        <div class="air__block__img">
                            <img src="img/air/air1.webp" alt="photo">
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            Инвентаризация источников выбросов

                            </div>
                            <div class="air__block__arrow">

                            </div>
                        </div>

                    </div>
                    <div class="air__block__texts" style="display: block;">
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что это такое?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >Документ, содержащий в себе основные характеристики источников выбросов Вашего предприятия</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Всем, у кого есть источники выбросов загрязняющих веществ в атмосферный воздух (котельная, гараж, станки и пр.)</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Как это реализуется?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Эколог приедет на Ваше предприятие</div></li>
                                <li class="who_are_we__work text"><div>Осмотрит территорию</div></li>
                                <li class="who_are_we__work text"><div>Запросит необходимую для расчетов информацию</div></li>
                                <li class="who_are_we__work text"><div>Через 15 дней предоставит готовый документ</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что вы получите в результате?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Отчет по инвентаризации — печатный сброшюрованный документ на 15 – 50 страниц, а также его электронную копию</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>15 000 руб. </span> за одну площадку (по одному адресу)</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>

                            </ul>
                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>

                </div>
                <div class="air__block__item">
                    <div class="air__block__top">
                        <div class="air__block__img">
                            <img src="img/air/air2.webp" alt="photo">
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            постановка на учет объектов негативного воздействия на окружающую среду (Нвос)

                            </div>
                            <div class="air__block__arrow">

                            </div>
                        </div>

                    </div>
                    <div class="air__block__texts">
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что это такое?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >Документ, содержащий в себе основные характеристики источников выбросов Вашего предприятия</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Всем, у кого есть источники выбросов загрязняющих веществ в атмосферный воздух (котельная, гараж, станки и пр.)</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Как это реализуется?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Эколог приедет на Ваше предприятие</div></li>
                                <li class="who_are_we__work text"><div>Осмотрит территорию</div></li>
                                <li class="who_are_we__work text"><div>Запросит необходимую для расчетов информацию</div></li>
                                <li class="who_are_we__work text"><div>Через 15 дней предоставит готовый документ</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что вы получите в результате?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Отчет по инвентаризации — печатный сброшюрованный документ на 15 – 50 страниц, а также его электронную копию</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>15 000 руб. </span> за одну площадку (по одному адресу)</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>

                            </ul>
                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>

                </div>
                <div class="air__block__item">
                    <div class="air__block__top">
                        <div class="air__block__img">
                            <img src="img/air/air3.webp" alt="photo">
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            Расчет нормативов допустимых выбросов (НДВ)

                            </div>
                            <div class="air__block__arrow">

                            </div>
                        </div>

                    </div>
                    <div class="air__block__texts">
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что это такое?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >Документ, содержащий в себе основные характеристики источников выбросов Вашего предприятия</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Всем, у кого есть источники выбросов загрязняющих веществ в атмосферный воздух (котельная, гараж, станки и пр.)</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Как это реализуется?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Эколог приедет на Ваше предприятие</div></li>
                                <li class="who_are_we__work text"><div>Осмотрит территорию</div></li>
                                <li class="who_are_we__work text"><div>Запросит необходимую для расчетов информацию</div></li>
                                <li class="who_are_we__work text"><div>Через 15 дней предоставит готовый документ</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что вы получите в результате?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Отчет по инвентаризации — печатный сброшюрованный документ на 15 – 50 страниц, а также его электронную копию</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>15 000 руб. </span> за одну площадку (по одному адресу)</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>

                            </ul>
                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>

                </div>
                <div class="air__block__item">
                    <div class="air__block__top">
                        <div class="air__block__img">
                            <img src="img/air/air4.webp" alt="photo">
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            Программа производственного экологического контроля (ПЭК)

                            </div>
                            <div class="air__block__arrow">

                            </div>
                        </div>

                    </div>
                    <div class="air__block__texts">
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что это такое?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >Документ, содержащий в себе основные характеристики источников выбросов Вашего предприятия</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Всем, у кого есть источники выбросов загрязняющих веществ в атмосферный воздух (котельная, гараж, станки и пр.)</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Как это реализуется?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Эколог приедет на Ваше предприятие</div></li>
                                <li class="who_are_we__work text"><div>Осмотрит территорию</div></li>
                                <li class="who_are_we__work text"><div>Запросит необходимую для расчетов информацию</div></li>
                                <li class="who_are_we__work text"><div>Через 15 дней предоставит готовый документ</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что вы получите в результате?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Отчет по инвентаризации — печатный сброшюрованный документ на 15 – 50 страниц, а также его электронную копию</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>15 000 руб. </span> за одну площадку (по одному адресу)</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>

                            </ul>
                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>

                </div>
                <div class="air__block__item">
                    <div class="air__block__top">
                        <div class="air__block__img">
                            <img src="img/air/air5.webp" alt="photo">
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            Мероприятия по уменьшению выбросов <br> в период неблагоприятных метеорологических условий (НМУ)

                            </div>
                            <div class="air__block__arrow">

                            </div>
                        </div>

                    </div>
                    <div class="air__block__texts">
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что это такое?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >Документ, содержащий в себе основные характеристики источников выбросов Вашего предприятия</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Всем, у кого есть источники выбросов загрязняющих веществ в атмосферный воздух (котельная, гараж, станки и пр.)</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Как это реализуется?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Эколог приедет на Ваше предприятие</div></li>
                                <li class="who_are_we__work text"><div>Осмотрит территорию</div></li>
                                <li class="who_are_we__work text"><div>Запросит необходимую для расчетов информацию</div></li>
                                <li class="who_are_we__work text"><div>Через 15 дней предоставит готовый документ</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что вы получите в результате?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Отчет по инвентаризации — печатный сброшюрованный документ на 15 – 50 страниц, а также его электронную копию</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>15 000 руб. </span> за одну площадку (по одному адресу)</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>

                            </ul>
                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>

                </div>

                <div class="air__block__item">
                    <div class="air__block__top">
                        <div class="air__block__img">
                            <img src="img/air/air6.webp" alt="photo">
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            ПРОЕКТ ОБОСНОВАНИЯ РАЗМЕРОВ  <br> САНИТАРНО-ЗАЩИТНОЙ ЗОНЫ (СЗЗ)

                            </div>
                            <div class="air__block__arrow">

                            </div>
                        </div>

                    </div>
                    <div class="air__block__texts">
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что это такое?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >Документ, содержащий в себе основные характеристики источников выбросов Вашего предприятия</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Всем, у кого есть источники выбросов загрязняющих веществ в атмосферный воздух (котельная, гараж, станки и пр.)</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Как это реализуется?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Эколог приедет на Ваше предприятие</div></li>
                                <li class="who_are_we__work text"><div>Осмотрит территорию</div></li>
                                <li class="who_are_we__work text"><div>Запросит необходимую для расчетов информацию</div></li>
                                <li class="who_are_we__work text"><div>Через 15 дней предоставит готовый документ</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что вы получите в результате?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Отчет по инвентаризации — печатный сброшюрованный документ на 15 – 50 страниц, а также его электронную копию</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>15 000 руб. </span> за одну площадку (по одному адресу)</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>

                            </ul>
                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>
{% endblock %}