{% extends 'biipeco/layout.html' %}
{% load static %}
{% block content %}
<section class="air report">
    <div class="container">
        <div class="air__wrap">
            <h2 class="air__title title2">ЭКОЛОГИЧЕСКАЯ ОТЧЕТНОСТЬ</h2>
            <div class="air__block one">
                <div class="air__block__item">
                    <div class="air__block__top open">
                        <div class="air__block__img report__img">
                            <h5 class="report__title">
                                Отчет 2-ТП (воздух)
                            </h5>
                            <p class="report__text">Сведения об охране атмосферного воздуха</p>
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            Форма 2-тп воздух
                            </div>
                            <div class="air__block__arrow">
                            </div>
                        </div>

                    </div>
                    <div class="air__block__texts" style="display: block;">
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">В какие сроки нужно сдать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >До 22 января</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Предприятиям I – III категории, выбрасывающим от 5 тонн в год при наличии веществ 1 и 2 класса опасности, или выбрасывающим более 10 тонн в год</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Куда и каким образом подается?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Через личный кабинет природопользователя в региональное Управление Росприроднадзора</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что необходимо предоставить для оформления?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Разрешение на выбросы и\или проект НДВ</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>2 000 руб. </span> </div></li>

                            </ul>
                        </div>
                        <div class="air__block__list last">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>

                            </ul>
                        </div>
                        <div class="air__block__pic ">

                            <img src="img/eco_report/doc1.webp" alt="Docs" class="minimized">

                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>

                </div>
                <div class="air__block__item">
                    <div class="air__block__top ">
                        <div class="air__block__img report__img">
                            <h5 class="report__title">
                                Отчет 2-ТП (отходы)
                            </h5>
                            <p class="report__text">Сведения об образовании, обработке, утилизации, обезвреживании размещении…</p>
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            Форма 2-тп отходы

                            </div>
                            <div class="air__block__arrow">

                            </div>
                        </div>

                    </div>
                    <div class="air__block__texts" >
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">В какие сроки нужно сдать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >До 22 января</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Предприятиям I – III категории, выбрасывающим от 5 тонн в год при наличии веществ 1 и 2 класса опасности, или выбрасывающим более 10 тонн в год</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Куда и каким образом подается?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Через личный кабинет природопользователя в региональное Управление Росприроднадзора</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что необходимо предоставить для оформления?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Разрешение на выбросы и\или проект НДВ</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>2 000 руб. </span> </div></li>

                            </ul>
                        </div>
                        <div class="air__block__list last">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>

                            </ul>
                        </div>
                        <div class="air__block__pic ">

                            <img src="img/eco_report/doc2.webp" alt="Docs" class="minimized">

                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>

                </div>
                <div class="air__block__item">
                    <div class="air__block__top ">
                        <div class="air__block__img report__img">
                            <h5 class="report__title">
                                Отчет 2-ТП (водхоз)
                            </h5>
                            <p class="report__text">Сведения о водопользовании хозяйствующего субъекта</p>
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            Форма 2-тп водхоз

                            </div>
                            <div class="air__block__arrow">

                            </div>
                        </div>

                    </div>
                    <div class="air__block__texts" >
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">В какие сроки нужно сдать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >До 22 января</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Предприятиям I – III категории, выбрасывающим от 5 тонн в год при наличии веществ 1 и 2 класса опасности, или выбрасывающим более 10 тонн в год</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Куда и каким образом подается?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Через личный кабинет природопользователя в региональное Управление Росприроднадзора</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что необходимо предоставить для оформления?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Разрешение на выбросы и\или проект НДВ</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>2 000 руб. </span> </div></li>

                            </ul>
                        </div>
                        <div class="air__block__list last">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>

                            </ul>
                        </div>
                        <div class="air__block__pic ">

                            <img src="img/eco_report/doc3.webp" alt="Docs" class="minimized">
                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>
                </div>
                <div class="air__block__item">
                    <div class="air__block__top ">
                        <div class="air__block__img report__img">
                            <h5 class="report__title">
                                Формы 3.1–3.3 (квартальные)
                            </h5>
                            <p class="report__text">Сведения об учете объема забора (изъятия) водных ресурсов из водных объектов…</p>
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            Формы 3.1–3.3 (квартальные)
                            </div>
                            <div class="air__block__arrow">
                            </div>
                        </div>
                    </div>
                    <div class="air__block__texts" >
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">В какие сроки нужно сдать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >До 22 января</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Предприятиям I – III категории, выбрасывающим от 5 тонн в год при наличии веществ 1 и 2 класса опасности, или выбрасывающим более 10 тонн в год</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Куда и каким образом подается?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Через личный кабинет природопользователя в региональное Управление Росприроднадзора</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что необходимо предоставить для оформления?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Разрешение на выбросы и\или проект НДВ</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>2 000 руб. </span> </div></li>
                            </ul>
                        </div>
                        <div class="air__block__list last">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>
                            </ul>
                        </div>
                        <div class="air__block__pic ">
                            <img src="img/eco_report/doc4.webp" alt="Docs" class="minimized">
                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>
                </div>
                <div class="air__block__item">
                    <div class="air__block__top ">
                        <div class="air__block__img report__img">
                            <h5 class="report__title">
                                Формы 6.1–6.3 (годовая)
                            </h5>
                            <p class="report__text">Данные наблюдений за водными объектами, сведения о состоянии водоохранных зон…</p>
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            Формы 6.1–6.3 (годовая)
                            </div>
                            <div class="air__block__arrow">
                            </div>
                        </div>
                    </div>
                    <div class="air__block__texts" >
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">В какие сроки нужно сдать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >До 22 января</div>
                                </li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Предприятиям I – III категории, выбрасывающим от 5 тонн в год при наличии веществ 1 и 2 класса опасности, или выбрасывающим более 10 тонн в год</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Куда и каким образом подается?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Через личный кабинет природопользователя в региональное Управление Росприроднадзора</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что необходимо предоставить для оформления?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Разрешение на выбросы и\или проект НДВ</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>2 000 руб. </span> </div></li>
                            </ul>
                        </div>
                        <div class="air__block__list last">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>
                            </ul>
                        </div>
                        <div class="air__block__pic ">
                            <img src="img/eco_report/doc5.webp" alt="Docs" class="minimized">
                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>
                </div>
                <div class="air__block__item">
                    <div class="air__block__top ">
                        <div class="air__block__img report__img">
                            <h5 class="report__title">
                                Форма 2 ОС
                            </h5>
                            <p class="report__text">Сведения о выполнении водохозяйственных и водоохранных работ на водных объектах</p>
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            Форма 2 ОС
                            </div>
                            <div class="air__block__arrow">

                            </div>
                        </div>
                    </div>
                    <div class="air__block__texts" >
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">В какие сроки нужно сдать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >До 22 января</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Предприятиям I – III категории, выбрасывающим от 5 тонн в год при наличии веществ 1 и 2 класса опасности, или выбрасывающим более 10 тонн в год</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Куда и каким образом подается?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Через личный кабинет природопользователя в региональное Управление Росприроднадзора</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что необходимо предоставить для оформления?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Разрешение на выбросы и\или проект НДВ</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>2 000 руб. </span> </div></li>
                            </ul>
                        </div>
                        <div class="air__block__list last">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>
                            </ul>
                        </div>
                        <div class="air__block__pic ">
                            <img src="img/eco_report/doc8.webp" alt="Docs" class="minimized">
                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>
                </div>
                <div class="air__block__item">
                    <div class="air__block__top ">
                        <div class="air__block__img report__img">
                            <h5 class="report__title">
                                Форма 4 ЛС)
                            </h5>
                            <p class="report__text">Сведения о выполнении условий пользования недрами при добыче питьевых вод…</p>
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            Форма 4 ЛС
                            </div>
                            <div class="air__block__arrow">
                            </div>
                        </div>
                    </div>
                    <div class="air__block__texts" >
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">В какие сроки нужно сдать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >До 22 января</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Предприятиям I – III категории, выбрасывающим от 5 тонн в год при наличии веществ 1 и 2 класса опасности, или выбрасывающим более 10 тонн в год</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Куда и каким образом подается?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Через личный кабинет природопользователя в региональное Управление Росприроднадзора</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что необходимо предоставить для оформления?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Разрешение на выбросы и\или проект НДВ</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>2 000 руб. </span> </div></li>
                            </ul>
                        </div>
                        <div class="air__block__list last">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>
                            </ul>
                        </div>
                        <div class="air__block__pic ">
                            <img src="img/eco_report/doc9.webp" alt="Docs" class="minimized">
                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>
                </div>
                <div class="air__block__item">
                    <div class="air__block__top ">
                        <div class="air__block__img report__img">
                            <h5 class="report__title">
                                Декларация НВОС
                            </h5>
                            <p class="report__text">Декларация о плате за негативное воздействие на окружающую среду</p>
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            Декларация НВОС
                            </div>
                            <div class="air__block__arrow">
                            </div>
                        </div>
                    </div>
                    <div class="air__block__texts" >
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">В какие сроки нужно сдать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >До 22 января</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Предприятиям I – III категории, выбрасывающим от 5 тонн в год при наличии веществ 1 и 2 класса опасности, или выбрасывающим более 10 тонн в год</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Куда и каким образом подается?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Через личный кабинет природопользователя в региональное Управление Росприроднадзора</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что необходимо предоставить для оформления?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Разрешение на выбросы и\или проект НДВ</div></li>
                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div><span>2 000 руб. </span> </div></li>
                            </ul>
                        </div>
                        <div class="air__block__list last">
                            <h4 class="air__block__list__title">Что будет, если это не сделать?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Согласно ст. 8.1 КоАП РФ за непроведение инвентаризации источников выбросов — штраф <span>от 20 000 до 100 000 руб.</span></div></li>
                            </ul>
                        </div>
                        <div class="air__block__pic ">
                            <img src="img/eco_report/doc10.webp" alt="Docs" class="minimized">
                        </div>
                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>
                </div>
                </div>
        </div>
    </div>
</section>
{% endblock %}
