{% extends 'biipeco/layout.html' %}
{% load static %}
{% block content %}
<section class="air">
    <div class="container">
        <div class="air__wrap">
            <h2 class="air__title title2">Обращение с отходами </h2>
            <div class="air__block ">
                <div class="air__block__item">
                    <div class="air__block__top2 open">
                        <div class="air__block__img">
                            <img src="img/ecology/eco1.webp" alt="photo">
                        </div>
                        <div class="air__block__titles">
                            <div class="air__block__title title">
                            Экологическое сопровождение

                            </div>
                            <div class="air__block__arrow">

                            </div>
                        </div>

                    </div>
                    <div class="air__block__texts2" style="display: block!important;">
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что это такое?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div >Документ, содержащий в себе основные характеристики источников выбросов Вашего предприятия</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Кому это нужно?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Всем, у кого есть источники выбросов загрязняющих веществ в атмосферный воздух (котельная, гараж, станки и пр.)</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Как это реализуется?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Эколог приедет на Ваше предприятие</div></li>
                                <li class="who_are_we__work text"><div>Осмотрит территорию</div></li>
                                <li class="who_are_we__work text"><div>Запросит необходимую для расчетов информацию</div></li>
                                <li class="who_are_we__work text"><div>Через 15 дней предоставит готовый документ</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Что вы получите в результате?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text"><div>Отчет по инвентаризации — печатный сброшюрованный документ на 15 – 50 страниц, а также его электронную копию</div></li>

                            </ul>
                        </div>
                        <div class="air__block__list">
                            <h4 class="air__block__list__title">Сколько это стоит?</h4>
                            <ul class="who_are_we__list">
                                <li class="who_are_we__work text">
                                    <div>Экологическое сопровождение предприятия (выберите количество источников выбросов):
                                    </div>

                                </li>

                            </ul>
                            <div class="who_are_we__radios">
                                <div class="who_are_we__radio">
                                    <input type="radio" class="" name="eco_price" checked>
                                    <p class="text">до 5 — <span> 5 000 руб. / мес.</span></p>
                                </div>
                                <div class="who_are_we__radio">
                                    <input type="radio" class="" name="eco_price">
                                    <p class="text">от 5 до 30 —  <span> 10 000 руб. / мес.</span></p>
                                </div>
                                <div class="who_are_we__radio">
                                    <input type="radio" class="" name="eco_price">
                                    <p class="text">более 30 — <span>15 000 руб. / мес.</span></p>
                                </div>

                            </div>
                        </div>

                        <button class="air__block__btn btn btn_p">Добавить в перечень</button>
                    </div>

                </div>



                </div>
        </div>
    </div>
</section>
{% endblock %}